body {
    background-color: #4c0c48;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-wrapper {
    background-color: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(233, 246, 243, 0.27);
    padding: 5px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.auth-form input {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}
.auth-form input::placeholder {
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-form input {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}
.auth-form input::placeholder {
    color: white;
}

.auth-form input {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
}
.auth-form input::placeholder {
    color: white;
}

.hidden {
    display: none;
}
#auth-btn {
    background-color: #590553;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#auth-btn:hover {
    background-color: #440340;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
