body {
    background-color: #4c0c48;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.home-wrapper {
    background-color: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(233, 246, 243, 0.27);
    padding: 5px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    font-size: 13px;
}
.quiz-list {
    list-style: none;
    padding: 0;
    width: 100%;
}
.quiz-list li {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.quiz-list li:hover {
    background-color: #440340;
}