body {
    background-color: #4c0c48;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: auto;
}
.quiz-wrapper {
    background-color: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(233, 246, 243, 0.27);
    padding: 5px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    padding:5px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    font-size: 13px;
}
.question-section button {
    display: block;
    width: 90%;       
    margin: 10px auto; 
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    flex-grow: 1;
    max-width: 200px;
    min-width: 100px;

}
.submit-btn, .next-quiz-btn, .logout-btn {
    color: #4c0c48;
    font-weight: bolder;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 10px auto;
}
.question-section button:hover,
.submit-btn:hover, .next-quiz-btn:hover,.logout-btn:hover {
    background-color: #440340;
}
.submit-btn:hover, .next-quiz-btn:hover, .logout-btn:hover {
    color: white;
}
.score-display {
    margin-top: 10px;
    font-size: 13px;
    color: white;
}